* {
    font-family: "Roboto", sans-serif;
}

body {
    height: 665px;
    width: 665px;
    background: linear-gradient(360deg, #9CECFB, #65C7F7, #0052D4 50%);
    color: white;
}

#get {
    display: block;
    border: 6px solid #009FFF;
    background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
    border-radius: 15px 100px 15px 100px;;
    padding: 20px;
    color: white;
    outline: none;
    width: 55%;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 165px;
    cursor: pointer;
}

#get:hover {
    opacity: .8;
    background: linear-gradient(240deg, #12c2e9, #c471ed, #f64f59);
}

#info {
    display: inline-block;
    border: none;
    background: linear-gradient(90deg, #009FFF, #ec2F4B);
    border-radius: 10px;
    padding: 20px;
    color: white;
    outline: none;
    width: 430px;
    height: 603px;
    font-size: 30px;
    position: absolute;
    left: 665px;
    top: 20px;
 } 

#location {
    display: block;
    border: none;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    color: white;
    outline: none;
    width: 77%;
    height: 30%;
    font-size: 30px;
    margin-left: 65px;
    margin-top: 20px;
}

#location::placeholder {
    color: rgba(255, 255, 255, .5);
}

#location1 {
    float:left;
    border: none;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    color: white;
    outline: none;
    width: 35%;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 65px;
}

#location1::placeholder {
    color: rgba(255, 255, 255, .5);
}

#location2 {
    float:right;
    border: none;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    color: white;
    outline: none;
    width: 35%;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 48px;
}

#location2::placeholder {
    color: rgba(255, 255, 255, .5);
}

#location3 {
    display: block;
    border: none;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    color: white;
    outline: none;
    width: 77%;
    font-size: 30px;
    margin-top: 105px;
    margin-left: 65px;
}

#location3::placeholder {
    color: rgba(255, 255, 255, .5);
}

textarea {
    resize: none;
 }

 /**
 * Переключаемая боковая панель навигации
 * выдвигающаяся по клику слева
 */
 
.nav {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 330px;
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 663px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: #ec2F4B;
    /* поверх других элементов */
    z-index: 2000;
}
 
/**
 * Кнопка переключения панели
 * тег <label>
 */
 
.nav-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно левого края панели */
    left: 328px;
    /* отступ от верхнего края панели */
    top: 1em;
    /* внутренние отступы */
    padding: 0.5em;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    background: inherit;
    /* цвет текста */
    color: #dadada;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
 
/* определяем текст кнопки 
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/
 
.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}
 
/* цвет текста при наведении */
 
.nav-toggle:hover {
    color: #f4f4f4;
}
 
/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */
 
[id='nav-toggle'] {
    position: absolute;
    display: none;
}
 
/**
 * изменение положения переключателя 
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/
 
[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}
 
/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */
 
[id='nav-toggle']:checked ~ .nav {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}
 
/* 
 * смещение контента страницы
 * на размер ширины панели,
 * фишка необязательная, на любителя
*/
 
[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(320px);
    -moz-transform: translateX(320px);
    transform: translateX(320px);
}
 
/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X), 
 * вы можете испльзовать любой другой значок
*/
 
[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}
 
 
/**
 * Формируем стиль заголовка (логотип) панели 
*/
 
.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}
 
.nav h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}
 
 
/*плавное появление заголовка (логотипа) при раскрытии панели */
 
[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
 
/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */
 
.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}
 
[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
 
/* определяем интервалы появления пунктов меню */
 
.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}
 
.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}
 
.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}
 
.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
 
.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}
 
.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}
 
 
/**
 * оформление ссылок пунктов меню
 */
 
.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}
 
/**
 * состояние ссылок меню при наведении
 */
 
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}
 
/**
 * линия подчеркивания ссылок меню
 */
 
.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 
.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #ff526c;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */
 
.nav > ul > li > a:hover:before {
    width: 0%;
    background: #ff526c;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 
/* фон затемнения на основной контент 
 * при этом элементы блокируютя
 * спорная такая фича, если оно вам надо
 * просто раскомментируйте
*/
 

.mask-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
}
 
[id='nav-toggle']:checked ~ .mask-content {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
}
